.add-product-to-cart {
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
}

.add-to-cart {
    margin-left: 1em;
    background-color: #0D47A1;
    color: white;
    padding: 0.4em 2em;
    border-radius: 5px;
    border: 2px solid #0D47A1;
}

.quantity {
    padding: 0.3em;
    border-radius: 5px;
    border: 2px solid #0D47A1;
}