.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.store-header {
  color: white;
  text-decoration: none;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.4em;
}

.logo-header {
  display: flex;
  flex: 70%;
  flex-direction: row;
  align-items: center;
}

.home-actions {
  display: flex;
  justify-content: space-around;
  flex: 30%;
  text-decoration: none;
}

.app-header {
  background-color: #4CAF50;
  display: flex;
  padding: 0.5em;
  color: #0D47A1;
  justify-content: space-between;
  align-items: center;
}

.store-header-cart {
  text-decoration: none;
  color: white;
}

.store-header-orders {
  text-decoration: none;
  color: white;
}

.container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}