.controls {
    display: flex;
    justify-content: flex-end;
    flex: 40%;
}

.products-sort {
    margin-left: 0.3em;
    margin-right: 0.5em;
    padding: 0.3em 0.3em;
    border-radius: 5px;
    border: 2px solid #a6a6a6;
}