.product-description {
    padding-left: 1em;
    padding-right: 1em;
}

.product-details {
    display: flex;
    flex-direction: row;
}

.product-attributes {
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.display-product {
    width: 260px;
    height: 260px;
}