.star-rating {
    color: #FFA000;
    font-size: 22px;
}

.reviewer-name {
    font-weight: 800;
    color: #4d4d4d;
}

.individual-review {
    margin-top: 1em;
    border-bottom: 0.5px solid #fcfcfc;
}

.review-time {
    font-size: 12px;
    margin-top: 0.5em;
    color: #4d4d4d;
}