.submit {
    border-radius: 4px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 0.5em;
    width: 6.5em;
    color: white;
    font-weight: bold;
    margin-top: 1em;
}

h2 {
    color: #0D47A1;
}

.login {
    margin-top: 2em;
    text-align: center;
}

.login-username {
    border-radius: 4px;
    padding: 0.4em;
    border: 2px solid #a6a6a6;
}

.login-password {
    border-radius: 4px;
    padding: 0.4em;
    margin-top: 0.7em;
    border: 2px solid #a6a6a6;
}